

/* PAGE  (Component)  */

.page_content {
    width: 557px;
    height: 800px;
}
.right_photo {
    margin-left: 65px;
    width: 364px;
    height: 730px;
}




/* TITLES BLOCK-S (Component-s) */
.titlesWrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 56px;
}
.title {
    margin-bottom: 15px;

    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;

    color: #2F2F2F;
}
.sub-title {
    margin-bottom: 13px;

    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;

    color: #2F2F2F;
    opacity: 0.8;
}